@{
    ViewData["Title"] = "Violazioni con importo maggiore di 400 euro";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Violazione</th>
            <th>Importo</th>
            <th>Decurtamento Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.DataViolazione.ToShortDateString()</td>
                <td>@item.Importo</td>
                <td>@item.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
